.col-md-12 .total-wrap {
    border-top: 1px solid #000;
}

.total-wrap h1 {
    font-size: 0.7rem;
    font-weight: 700;
    display: inline-block;
}
.bg-one {
    background: #f1f3ff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.total-wrap label {
    font-size: 0.7rem;
    font-weight: 400;
}
.total-wrap .form-control {
    background: #f1f3ff;
    border-radius: 0;
    border: none;
}
ol {
    position: relative;
    padding: 0;
    list-style-position: inside;
}
::marker {
    border: 1px solid #000;
    font-size: 0.7rem;
    padding: 2px 5px;
    text-align: center;
}
ol li {
    padding-left: 0;
}
.border-black {
    border: 1px solid #000 !important;
}
.table .form-control {
    background: none;
}
.table.table-bordered td,
.table.table-bordered th {
    border: 1px solid #000;
}
.table {
    margin-bottom: 0 !important;
}
.heading-wrap {
    margin-bottom: 0;
}
ol.border-no .border-black {
    border-bottom: none !important;
}
.table.table-bordered td:first-child,
.table.table-bordered th:first-child {
    border-left: none !important;
}
.table.table-bordered td:last-child,
.table.table-bordered th:last-child {
    border-right: none !important;
}
.bg-two {
    background: #e8e8e8;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 0.7rem;
    font-weight: 700;
}
.table.table-bordered thead tr th {
    font-size: 0.7rem;
    font-weight: 700;
    background: #e8e8e8;
}
.border-right-black {
    border-right: #000 1px solid;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}
